# Getting started solving common issues with data using python libraries on sales data.

#### Import necessary libraries

In [2]:
import pandas as pd
import numpy as np

In [4]:
#creating a DataFrame manually, example:
data={'Order ID':[176558, np.nan, 176559, 176560, 176560],
      'PRODUCT':['USB-C Charging Cable', np.nan,'Bose SoundSport Headphones', 'Google Phone','Wired Headphones'],
      'Quantity Ordered': [2, np.nan, 1,1,1],
      'price_each':[11.95, np.nan, 99.99, 600, 11.99],
      'order_date':['04/19/19 08:46', np.nan, '04/07/19 22:30', '04/12/19 14:38', '04/12/19 14:38'],
      'Purchase-Address':['917 1st St, Dallas, TX 75001', np.nan, '682 Chestnut St, Boston, MA 02215',
                          '669 Spruce St, Los Angeles, CA 90001', '669 Spruce St, Los Angeles, CA 90001']}

sales=pd.DataFrame(data=data)
sales

,Order ID,PRODUCT,Quantity Ordered,price_each,order_date,Purchase-Address
0,176558.0,USB-C Charging Cable,2.0,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559.0,Bose SoundSport Headphones,1.0,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560.0,Google Phone,1.0,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560.0,Wired Headphones,1.0,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

## Importing sales_Abril_2019. Full dataset

In [ ]:
#loading the data

In [3]:
path='data/Sales_April_2019.csv'
sales_April=pd.read_csv(path)

In [16]:
sales_April.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [4]:
sales_April = sales_April.rename(columns =
                                 {'Order ID': 'order_id', 
                                  'Product': 'product',
                                  'Quantity Ordered': 'quantity_ordered', 
                                  'Price Each': 'price_each', 
                                  'Order Date':'order_date', 
                                  'Purchase Address': 'purchase_adress'}, inplace=False)
sales_April.columns

Index(['order_id', 'product', 'quantity_ordered', 'price_each', 'order_date',
       'purchase_adress'],
      dtype='object')

## Inspecting/examining the Data to get a sense of how it looks like

In [18]:
print("The dimension of the table is: ", sales_April.shape)
print("*"*50)
print("type of the data:")
print(sales_April.dtypes)
print("*"*50)
print("basic information:")
print(sales_April.info())

The dimension of the table is:  (18383, 6)
**************************************************
type of the data:
order_id            object
product             object
quantity_ordered    object
price_each          object
order_date          object
purchase_adress     object
dtype: object
**************************************************
basic information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          18324 non-null  object
 1   product           18324 non-null  object
 2   quantity_ordered  18324 non-null  object
 3   price_each        18324 non-null  object
 4   order_date        18324 non-null  object
 5   purchase_adress   18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB
None

##### A. DEALING WITH MISSING VALUE

##### TASK 1 - check Missings data

In [63]:
print("total missing values:", sales_April.isna().sum().sum())
print("*"*50)

#Total missing values for each column
print('\nTotal missing values for each feature')
sales_April.isnull().sum()

total missing values: 354
**************************************************

Total missing values for each feature

order_id            59
product             59
quantity_ordered    59
price_each          59
order_date          59
purchase_adress     59
dtype: int64

##### TASK 2: handling missing values/Cleaning the data

In [65]:
drop_rows=sales_April.dropna(how='all', inplace=True)

print(sales_April.shape)

(18324, 6)

In [19]:
#To confirm we have drop the rows with missing values

sales_April.isnull().sum()

order_id            0
product             0
quantity_ordered    0
price_each          0
order_date          0
purchase_adress     0
dtype: int64

##### B. DEALING WITH INCORRECT COLUMN TYPE

In [5]:
#making a copy of the dataframe:
sales_copy=sales_April.copy()

In [26]:
#check data types of all the columns in a data frame with “dtypes”.
sales_copy.dtypes

order_id            object
product             object
quantity_ordered    object
price_each          object
order_date          object
purchase_adress     object
dtype: object

comment: Pandas recognized the “NaN” as a missing value, but What if our feature is expected to be numeric, but there’s a categorical type? technically this is also a missing value.

when I was to modifyed the type of the columns, a valueError was displayed in Quantity Ordered column. 
here’s the way that I’m going to work using ".value_counts() method

In [32]:
print(sales_copy['quantity_ordered'].value_counts())

1                   16558
2                    1328
3                     299
4                      72
Quantity Ordered       35
5                      24
6                       7
7                       1
Name: quantity_ordered, dtype: int64

In [6]:
sales_copy[['quantity_ordered', 'price_each']]= sales_copy[['quantity_ordered', 'price_each']].apply(pd.to_numeric)
print(sales_copy.head())

ValueError: Unable to parse string "Quantity Ordered" at position 519

In [34]:
#see where is the categorical value Quantity Ordered:
sales_copy.loc[sales_copy['quantity_ordered']=='Quantity Ordered'].head(10)

,order_id,product,quantity_ordered,price_each,order_date,purchase_adress
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3036,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3209,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3618,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4138,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4645,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [ ]:
#Applying np.where()function, it replaces the invalid columns value with a np.nan. 
#but it doesn´t solve the data type column

sales_copy['order_id']=np.where(sales_copy['order_id']=='Order ID', np.nan, sales_copy['order_id'])
sales_copy['product']=np.where(sales_copy['product']=='Product', np.nan, sales_copy['product'])
sales_copy['quantity_ordered']=np.where(sales_copy['quantity_ordered']=='Quantity Ordered', np.nan, sales_copy['quantity_ordered'])
sales_copy['price_each']=np.where(sales_copy['price_each']=='Price Each', np.nan, sales_copy['price_each'])
sales_copy['order_date']=np.where(sales_copy['order_date']=='Order Date', np.nan, sales_copy['order_date'])
sales_copy['purchase_adress']=np.where(sales_copy['purchase_adress']=='Purchase Address', np.nan, sales_copy['purchase_adress'])

In [43]:
sales_copy.isnull().sum()

order_id            35
product             35
quantity_ordered    35
price_each          35
order_date          35
purchase_adress     35
dtype: int64

In [52]:
drop_rows2=sales_copy.dropna(how='all', inplace=True)

print(sales_copy.isnull().sum())

order_id            0
product             0
quantity_ordered    0
price_each          0
order_date          0
purchase_adress     0
dtype: int64

In [46]:
#to solve the data type I apply pd.ro_numeric and pd.to_datetime

sales_copy['quantity_ordered']=pd.to_numeric(sales_copy['quantity_ordered'], errors='coerce')
sales_copy['price_each']=pd.to_numeric(sales_copy['price_each'], errors='coerce')

sales_copy['order_date']=pd.to_datetime(sales_copy['order_date'], errors='coerce')

In [50]:
sales_copy.dtypes

order_id                    object
product                     object
quantity_ordered           float64
price_each                 float64
order_date          datetime64[ns]
purchase_adress             object
dtype: object

In [54]:
print('\nAny missing values?')
sales_copy.isnull().any().any()

Any missing values?

False

In [55]:
#transforming float quantity_ordered column to integer:
sales_copy['quantity_ordered']=sales_copy['quantity_ordered'].astype(int)
print(sales_copy['quantity_ordered'].dtypes)

int32

In [56]:
sales_copy.dtypes

order_id                    object
product                     object
quantity_ordered             int32
price_each                 float64
order_date          datetime64[ns]
purchase_adress             object
dtype: object